<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">Blog With Friends</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/{{user._id}}">My Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
  </nav>
  <div class="container container-edit">
    <form>
      <label for="title" class="sr-only">Title</label>
      <input type="text" id="title" class="form-control input-top" placeholder="Title" required autofocus
        {{#if blog}}value="{{blog.title}}"{{/if}}>
      <label for="body" class="sr-only">Blog</label>
      {{#if blog}}<textarea id="body" class="form-control input-middle" rows="20" placeholder="Blog" required>{{blog.body}}</textarea>{{/if}}
      <label for="keywords" class="sr-only">Keywords</label>
      <input type="text" id="keywords" class="form-control input-bottom" placeholder="Keywords" required
        {{#if blog}}value="{{#each blog.keywords}}{{this}}, {{/each}}"{{/if}}>
      <button class="btn btn-lg btn-success btn-block" onclick="{{#if blog}}handleEditBlog('{{user._id}}', '{{blog.id}}'){{/if}}{{#unless blog}}handleCreateBlog('{{user._id}}'){{/unless}}">Post</button>
    </form>
  </div>
</div>