<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">Blog With Friends</a>
    <ul class="navbar-nav">
      <li class="nav-item {{#unless personal}}active{{/unless}}">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item {{#if personal}}active{{/if}}">
        <a class="nav-link" href="/{{username}}">My Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
  </nav>
  <div class="container container-body">
    {{#if personal}}
    <a href="/{{username}}/blogs/new"><button class="btn btn-lg btn-primary">New blog post</button></a>
    {{/if}}
  </div>
  <div class="text-left">
    {{#each blogs}}
    <div class="blog-feed-post">
      <div class="row">
        <div class="col-9">
          <h4 class="h4">{{this.title}}</h4>
        </div>
        <div class="col-3 align-self-center text-right">
          {{this.author.name.first}} {{this.author.name.last}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>{{this.body}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <a href="/{{this.author.username}}/blogs/{{this._id}}"><button class="btn btn-sm btn-outline-primary">View</button></a>
          <a href="/{{this.author.username}}/blogs/{{this._id}}/edit"><button class="btn btn-sm btn-outline-success">Edit</button></a>
          <button class="btn btn-sm btn-outline-danger" onclick="handleDeleteBlog('{{this.author.username}}', '{{this._id}}')">Delete</button>
        </div>
        <div class="col-8 align-self-end text-right">
          Keywords:
          {{#each this.keywords}}
            {{this}}
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>