<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">Blog With Friends</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/{{user._id}}">My Blogs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
  </nav>
  <div class="container container-body container-center">
    <form action="/search" method="post">
      <label for="search" class="sr-only">Search</label>
      <input type="text" name="search" class="form-control search-bottom" placeholder="Search" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
    </form>
  </div>
  <div class="text-left">
    {{#if nameResult}}
    <h4 class="h4 mb-3 font-weight-normal result-heading">Username results:</h4>
    <div class="row result-row">
      <div class="col-3 font-weight-bold">Username</div>
      <div class="col-7 font-weight-bold">Name</div>
    </div>
    {{#each nameResult}}
    <div class="row result-row">
      <div class="col-3">{{this.username}}</div>
      <div class="col-7">{{this.name.first}} {{this.name.last}}</div>
      <div class="col-2 text-right">
        <a href="/{{this._id}}" class="btn btn-sm btn-outline-primary">View blogs</a>
      </div>
    </div>
    {{/each}}
    {{/if}}
    {{#if keywordResult}}
    <h4 class="h4 mb-3 font-weight-normal result-heading">Keyword results:</h4>
    <div class="row result-row">
      <div class="col-3 font-weight-bold">Name</div>
      <div class="col-3 font-weight-bold  ">Title</div>
      <div class="col-4 font-weight-bold">Keywords</div>
    </div>
    {{#each keywordResult}}
    <div class="row result-row">
      <div class="col-3">{{this.author.name.first}} {{this.author.name.last}}</div>
      <div class="col-3">{{this.title}}</div>
      <div class="col-4">
        {{#each this.keywords}}{{this}}, {{/each}}
      </div>
      <div class="col-2 text-right">
        <a href="/{{this.author._id}}/blogs/{{this._id}}" class="btn btn-sm btn-outline-primary">View</a>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>